@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #b85bc7, #5e18a0, #000b56);
  position: relative;
  min-height: 100vh;
}

.beeroscope {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Noto Serif Display', serif;
  /* change */
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #fff6ff, 0 0 40px #e0caff;
}

.rec,
.fav {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
  text-shadow: 0 0 8px #ffccf9;
}

p {
  text-align: center;
  max-width: 600px;
  margin: auto;
  font-style: italic;
  font-size: 1.1rem;
  padding: 0 1rem;
}

input,
button {
  background-color: #311d3f;
  border: 1px solid #e0aaff;
  padding: 0.6rem 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  width: 100%;
}

.beeroscope,
.rec,
.fav,
label,
p {
  color: #ffffff;
}

.container-fluid {
  padding: 2rem;
}

h2 {
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.mb-2 {
  background-color: #ffffff;
  color: #000000;
  height: auto;
  width: auto;
  text-align: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 1rem;
}

.btn.mb-2:hover {
  border: #ffffff 1px solid;
  color: #ffffff;
}

#name,
#date {
  width: 30%;
  max-width: 400px;
  text-align: center;
}

.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: url('./meteor.png') repeat center;
  opacity: 0.7;
  /* Adjust this value for more/less opacity */
  pointer-events: none;
}


.beerImage {
  max-width: 300px;
}

.beer-item {
  width: 400px;
  margin: auto;
  border-radius: 25px;
}

#beer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

@media screen and (min-width: 900px ) {

  #beer-cards > .like-item {
    max-width: 30%;
  }
}

@media screen and (max-width: 900px) and (min-width: 576px) {

  #beer-cards > .like-item {
    max-width: 45%;
  }
}

@media screen and (max-width: 576px) {

  #beer-cards > .like-item {
    max-width: auto;
  }
}

.heart-button {
  height: 100px;

}